@using CW_W13_01_114.Data
@{

    ViewData["Title"] = "Home Page";
}
@model List<IndexModel>;
<a class="btn btn-outline-secondary" asp-action="Register">create</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">name</th>
            <th scope="col">email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Name</td>
                <td>@user.Email</td>
                <td>
                    <a asp-action="Register" asp-route-id="@user.Id" class="btn btn-outline-primary">edit</a>
                </td>
                <td>
                    <form asp-action="DeleteUser">
                        <input hidden name="id" value="@user.Id" />
                        <button type="submit" class="btn btn-danger">delete</button>
                    </form>
                </td>
            </tr>
        }

    </tbody>
</table>
